body {
	padding-top: 40px;
	background: #eee;
	height: 100%;
}

.ui-sortable-placeholder {
	background: #aabbcc;
	border: 1px solid #bbccdd;
}

.ui-sortable-placeholder-horizontal {
	float: left;
	background: #aabbcc;
	border-left: 1px solid #bbccdd;
	border-right: 1px solid #bbccdd;
	padding: 0px;
}

.toolbox {
	background: #333333;
}

.toolbox .accordion-group {
	border: 0px;
}

.toolbox .accordion-inner {
	padding: 0px;
	border: 0px;
}

.toolbox .button {
	padding: 5px;
}

.toolbox .button:hover {
	background: #555555;
}

.toolbox .button a {
	color: #f5f5f5;
}
